<!doctype html>
<html lang="en">
<head>
        
        <meta charset="utf-8" />
        <title>Dashboard | Skote - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{base_path()}}/public/assets/images/favicon.ico">

       
        <!-- Bootstrap Css -->
        <link href="{{base_path()}}/public/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{base_path()}}/public/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{base_path()}}/public/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    </head>

    <body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            
            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <h3 style="padding: 10px;color: #fff">Stock Tracker</h3>    
                                    <!-- <img src="{{base_path()}}/public/assets/images/logo.svg" alt="" height="22"> -->
                                </span>
                                <span class="logo-lg">
                                    
                                    <h3 style="padding: 10px;color: #fff">Stock Tracker</h3>
                                    <!-- <img src="{{base_path()}}/public/assets/images/logo-dark.png" alt="" height="17"> -->
                                </span>
                            </a>

                            <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    
                                    <h3 style="padding: 10px;color: #fff">Stock Tracker</h3>
                                    <!-- <img src="{{base_path()}}/public/assets/images/logo-light.svg" alt="" height="22"> -->
                                </span>
                                <span class="logo-lg">
                                    
                                    <h3 style="padding: 10px;color: #fff">Stock Tracker</h3>
                                    <!-- <img src="{{base_path()}}/public/assets/images/logo-light.png" alt="" height="19"> -->
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>

                       
                    </div>

                    <div class="d-flex">

                        <div class="dropdown d-inline-block d-lg-none ms-2">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-magnify"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-search-dropdown">
        
                                <form class="p-3">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                        <div class="dropdown d-none d-lg-inline-block ms-1">
                            <button type="button" class="btn header-item noti-icon waves-effect"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bx bx-customize"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                                <div class="px-lg-2">
                                    <div class="row g-0">
                                        
                                        <div class="col">
                                            <a class="dropdown-icon-item" href="#">
                                                <img src="{{base_path()}}/public/assets/images/brands/bitbucket.png" alt="bitbucket">
                                                <span>Visit Repository</span>
                                            </a>
                                        </div>
                                
                                    </div>

                                   
                                </div>
                            </div>
                        </div>

                        <div class="dropdown d-none d-lg-inline-block ms-1">
                            <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
                                <i class="bx bx-fullscreen"></i>
                            </button>
                        </div>


                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user" src="{{base_path()}}/public/assets/images/users/avatar-1.jpg"
                                    alt="Header Avatar">
                                <span class=" d-xl-inline-block ms-1" key="t-henry">Joe's Stock Tracker</span>
                                <!-- <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i> -->
                            </button>
                            <!-- <div class="dropdown-menu dropdown-menu-end">
                                item
                                <a class="dropdown-item" href="contacts-profile.html"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span key="t-profile">Profile</span></a>
                                <a class="dropdown-item" href="crypto-wallet.html"><i class="bx bx-wallet font-size-16 align-middle me-1"></i> <span key="t-my-wallet">My Wallet</span></a>
                                <a class="dropdown-item" href="auth-lock-screen.html"><i class="bx bx-lock-open font-size-16 align-middle me-1"></i> <span key="t-lock-screen">Lock screen</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#0"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span key="t-logout">Logout</span></a>
                            </div> -->
                        </div>

                    

                    </div>
                </div>
            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title" key="t-menu">Menu</li>

                            <li>
                                <a href="{{url_for('track')}}" class="waves-effect">
                                    <i class="bx bx-home-circle"></i>
                                    <!-- <span class="badge rounded-pill bg-info float-end">04</span> -->
                                    <span key="t-dashboards">Track Price</span>
                                </a>
                               
                            </li>
                          
                            <li>
                                <a href="{{url_for('upload-price')}}" class="waves-effect">
                                    <i class="bx bx-home-circle"></i>
                                    <span key="t-dashboards">Upload Price</span>
                                </a>
                               
                            </li>

                    

                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->

            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    {% block page %}

                    {% endblock %}
                <!-- End Page-content -->

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © Kemuri.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Joe's Stock Tracker
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="{{base_path()}}/public/assets/libs/jquery/jquery.min.js"></script>
        <script src="{{base_path()}}/public/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="{{base_path()}}/public/assets/libs/metismenu/metisMenu.min.js"></script>
        
        <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
        
       

        <!-- App js -->
        <!-- <script src="{{base_path()}}/public/assets/js/app.js"></script> -->

        {% block js %}
        {% endblock %}
    </body>

</html>