{% extends "layout.html" %}
{% block page %}
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Search Stocks</h4>

                    <form action="{{url_for('track')}}" method="GET">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="mt-4">

                                <div>
                                    <label class="form-label">Pick Stock</label>
                                    <div class="input-group mb-3">
                                        <select class="form-select" required name="stock">
                                            <option value="">Select</option>

                                            {% for name in stock_names %}
                                                <option value="{{name}}" {% if stock.stock_name and name == stock.stock_name%} selected {% endif %}>{{name}}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>
                                </div>
                            
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="mt-4">

                                <div>
                                    <label class="form-label">From Date</label>
                                    <div class="input-group mb-3">
                                        <input class="form-control" type="date" value="2020-02-10" required name="from">
                                      </div>
                                      
                                      
                                </div>
                            
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="mt-4">

                                <div>
                                    <label class="form-label">To Date</label>
                                    <div class="input-group mb-3">
                                        <input class="form-control" type="date" value="2020-02-24" required name="to">
                                      </div>
                                      
                                      
                                </div>
                            
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="mt-4">

                                <div>
                                    <label class="form-label">&nbsp</label>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-success btn-block" style="width:100%">Track</button>
                                      </div>
                                      
                                      
                                </div>
                            
                            </div>
                        </div>

                    </div>

                </form>



                </div>
            </div>

        </div>
    </div>

    {% if trend.data %}
    <div class="row">
        <div class="col-md-3">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <p class="text-muted fw-medium"> Mean Stock Price</p>
                            <h4 class="mb-0">{{stats.mean_stock_price}}</h4>
                        </div>

                        <div class="flex-shrink-0 align-self-center">
                            <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                                <span class="avatar-title">
                                    <i class="bx bx-copy-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <p class="text-muted fw-medium">Standard Deviation</p>
                            <h4 class="mb-0">{{stats.standard_deviation}}%</h4>
                        </div>

                        <div class="flex-shrink-0 align-self-center ">
                            <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                <span class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bx-archive-in font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <p class="text-muted fw-medium">Shares Owned</p>
                            <h4 class="mb-0">{{stock.balance}}</h4>
                        </div>

                        <div class="flex-shrink-0 align-self-center">
                            <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                <span class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <p class="text-muted fw-medium">Current Stock Value</p>
                            <h4 class="mb-0">${{stats.current_share_price}}</h4>
                        </div>

                        <div class="flex-shrink-0 align-self-center">
                            <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                <span class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <p class="text-muted fw-medium">Profit/Loss Percent</p>
                            <h4 class="mb-0">{{stats.current_profit}}%</h4>
                        </div>

                        <div class="flex-shrink-0 align-self-center">
                            <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                <span class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <p class="text-muted fw-medium">Best Buy Date</p>
                            <h4 class="mb-0">{{stats.best_day_to_buy}}</h4>
                        </div>

                        <div class="flex-shrink-0 align-self-center">
                            <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                <span class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mini-stats-wid">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <p class="text-muted fw-medium">Best Sell Date</p>
                            <h4 class="mb-0">{{stats.best_day_to_sell}}</h4>
                        </div>

                        <div class="flex-shrink-0 align-self-center">
                            <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                <span class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bx-purchase-tag-alt font-size-24"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary" style="position: absolute; right:10px; top: 10px;z-index: 999" data-bs-toggle="modal" data-bs-target=".bs-example-modal-center">Buy/Sell Stock</button>
                        <div id="line_chart_datalabel" class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>
    <!-- end page title -->

   
   
    <!-- end row -->
</div>

    <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Buy/Sell Stocks</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="action-form" onsubmit="return false;">
                    <input type="hidden" name="stock_name" value="{{stock.stock_name}}" />
                    <div class="">

                        <h4 class="card-title">Current Balance: {{stock.balance}}</h4>

                        {% if stock.balance == 0 %}
                        <p class="card-title-desc">You don't Own any of the stocks of {{stock.stock_name}}</p>
                        {% endif %}
                        <div class="mb-3 row">
                            <label for="example-text-input" class="col-md-2 col-form-label">I want to</label>
                            
                                <div class="col-md-3 mt-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="action" value="buy" id="formRadios1" required>
                                        <label class="form-check-label" for="formRadios1">
                                            Buy Stock 
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    
                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="radio" name="action" value="sell" id="formRadios2" {% if stock.balance == 0 %} disabled {% endif %} required>
                                        <label class="form-check-label" for="formRadios2">
                                            Sell Stock {% if stock.balance == 0 %} (0 Balance) {% endif %}
                                        </label>
                                    </div>
                                </div>
                            
                        </div>

                        <div class="mb-3 row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Quantity</label>
                            <div class="col-md-10">
                                <input class="form-control" type="number" min="1" value="0" id="example-text-input" name="quantity" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="example-text-input" class="col-md-2 col-form-label"></label>

                            <div class="col-md-10">
                                <button class="btn btn-success" type="submit" style="width: 100%">Submit</button>
                            </div>
                        </div>
                        

                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div>
        
    {% endif %}
    {% if stock.stock_name and trend.data == null %}
    <div class="row">

        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">
                No Prices found for the given date range.
            </div>
        </div>

    </div>
    {% endif %}
<!-- container-fluid -->
    </div>

{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js" integrity="sha512-SdWDXwOhhVS/wWMRlwz3wZu3O5e4lm2/vKK3oD0E5slvGFg/swCYyZmts7+6si8WeJYIUsTrT3KZWWCknSopjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

     <!-- apexcharts -->
     <script src="{{base_path()}}/public/assets/libs/apexcharts/apexcharts.min.js"></script>


     {% if trend %}
     <script>
        var PRICES = {{ graph.prices|json_encode|raw }};
        var DATES = {{ graph.dates|json_encode|raw }};

        PRICES = PRICES.map(Number);

        var MIN = Math.min.apply(Math, PRICES) - 20;
        var MAX = Math.max.apply(Math, PRICES) + 20;

        console.log(PRICES);
    </script>

    <!-- apexcharts init -->
    <script src="{{base_path()}}/public/assets/js/pages/apexcharts.init.js"></script>
     {% endif %}
     <script>

        $("body").on("submit",".action-form",function(){

            let payload = $(this).serializeJSON();

            let button = $(this).find("button[type=submit]");

            $.ajax({
                url: "{{url_for('api.buy-sell')}}",
                method: "POST",
                data: JSON.stringify(payload),
                contentType: "application/json",
                beforeSend: function(){
                    button.html("processing");
                    button.attr("disabled","disabled");
                },
                success: function(response){
                    if(response.status){
                        alert(response.message);
                        location.reload();
                    }
                    else{
                        button.html("Submit");
                        button.removeAttr("disabled");
                        alert(response.message);
                    }
                        
                },
                error: function(a,b,c){
                    console.log(a,b,c);
                }
            });
            return false;
        });

     </script>
{% endblock %}