{% extends "layout.html" %}
{% block page %}
<div class="container-fluid">


    <div class="row">
        <div class="col-xl-12">
              <div class="dropzone" id="upload" style="height: 30vh;"></div>
        </div>
    </div>

<!-- container-fluid -->
</div>
{% endblock %}

{% block js %}
    <script>
        $("div#upload").dropzone({ 
            url: "{{url_for('api.upload')}}",
            acceptedFiles: ".csv",
            paramName: "csv",
            success : function(file, response){
                console.log(response);
                if(response.status){
                        alert(response.message);
                    }
                    else{
                        alert(response.message);
                    }
        }
         });
    </script>
{% endblock %}